.langs {
  position: relative;
  width: 100%;
  height: 46px;
  >button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #000;
  }
  & .options {
    position: absolute;
    right: 0px;
    top: 46px;
    & li{
      width: 46px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    & li.active{
      background: #FFD200;
      border-left: 1px solid #FFD200;
      border-bottom: 1px solid #FFD200;
    }
  }
}
