@import '@/assets/scss/main.scss';
.homeMusic {
  & ul {
    & li {
      @extend %flex,
      %aitems,%sbetween;
      border-bottom: 1px dashed #ddd;
      margin-top: 2px;
      height: 60px;
      line-height: 60px;
      padding:4px 8px;
      & .musicListBox {
        @extend %flex;
        & p {
          width: 52px;
          height: 52px;
          background: #003;
          margin-right: 8px;
          & img {
            width: 30px;
            height: 30px;
            background: #003;
          }
        }
        & div.musicListAuth {
          @extend %flex,%fdc;
          height: 52px;
          & span{
            @extend %flex,%aitems;
            height: 26px;
          }
        }
      }
    }
  }
}
