.mnav {
  width: 100%;
  height: 36px;
  background: #ddd;
  overflow: hidden;
  overflow-x: scroll;
  & ul {
    width: 380px;
    height: 36px;
    & li {
      width: 76px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      float: left;
    }
    & li.active{
      background:rgba(15, 15, 15, 0.2);
    }
  }
}
